[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "~=10.2.0"
pyserial = "~=3.5"
pyyaml = "~=6.0.1"
psutil = "~=5.9.8"
pystray = "~=0.19.5"
babel = "~=2.14.0"
"ruamel.yaml" = "~=0.18.6"
sv-ttk = "~=2.6.0"
numpy = "~=1.26.4"
gputil = "~=1.4.0"

[dev-packages]

[requires]
python_version = "3.11"
